@model IEnumerable<MowPro.Models.Customer>
<style>
    body {
           background: rgba(0,0,0,0.2)
       
    }
</style>
@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>
@* alert user that record was successfully created *@
@if (TempData["Message"] != null)
{
    <p class="alert-success"> @TempData["Message"] </p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>

@* search box *@
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

@* if no records match searchString, don't show table header. *@
@if (Model.Count() != 0)
{
    <table class="table table-hover">
        <thead class="thead-dark">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
}

else
{
    <p class="alert-info">There are no records containing: @ViewData["currentFilter"]</p>
}