@model IEnumerable<MowPro.Models.Job>

@{
    ViewData["Title"] = "Closed Jobs";
}

<h1>Closed Jobs</h1>
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p class="lead"> @TempData["Message"] </p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@* search box *@
<form asp-action="ClosedJobs" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" /> |
            <a asp-action="ClosedJobs">Back to Full List</a>
        </p>
    </div>
</form>
@* if no records match searchString, don't show table header. *@
@if (Model.Count() != 0)
{
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Service)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsComplete)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Service.Name)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsComplete)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.JobId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.JobId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.JobId">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <p class="alert-info lead">There are no records containing: @ViewData["currentFilter"]</p>
}
